<!doctype html>
<html ng-app="golApp">
  <head>
    <meta charset="utf-8">
    <title>Conway's Game of Life</title>
    <link rel="stylesheet" href= "bower_components/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div ui-view ></div>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="game.js"></script>
      <h1>Welcome to Conway's Game of Life</h1>
      <div ng-controller = "GolController">
        <!-- <table id= "">
          <tr = ng-repeat "">
            <td = ng-repeat "">
            </td>
          </tr>
        </table> -->
          <button class="btn btn-success" ng-click="start()">Start Game</button>
          <button class="btn btn-danger" ng-click="stop()">Stop Game</button>
          Height
          <input type="text" placeholder="Height" ng-model = "height">
          Width
          <input type="text" placeholder="Width" ng-model = "width">
        </div>
  </body>
</html>